{# src/OC/PlatformBundle/Resources/views/Louvre/booking.html.twig #}

{% extends "LouvreTicketBundle::layout.html.twig" %}

{% set bookingPage = true %}

{% block title %}{{ parent () }} | Réservation{% endblock %}

{% block content %}
  
    <div class="logoV">
        <a href="{{ path('homepage') }}">
            <img class="img-responsive" src="{{ asset('img/pyramide-logo-v.jpg') }}" alt="louvre-logo">
        </a>
    </div>

        
    <div id="jumboBooking" class="jumbotron">
        <div class="container">
            <h1 id="titreResa">Réservation</h1>
            <p>Étape 1 / </p>
            <div class="container well">
                {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                {{ form_errors(form) }}

                <div id="test2" class="hidden col-xs-6 col-xs-offset-4 alert alert-warning alert-dismissible mb-50 warningMessage">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <p>{{ form_errors(form.ticketDate) }}</p>
                    <p>{{ form_errors(form.email) }}</p>
                    <p>{{ form_errors(form.ticketType) }}</p>
                    <p>{{ form_errors(form.totalNbTickets) }}</p>
                </div>
                
                <div class="form-group">
                    {{ form_label(form.ticketDate, "Votre visite* :", { 'label_attr': {
                        'class': 'col-sm-4 control-label'
                    }}) }}
                    <div class="col-sm-6">
                        {{ form_widget(form.ticketDate, {'attr': {
                            'class': 'form-control datepickerBooking',
                            'placeholder': 'jj/mm/aaaa'
                        }}) }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(form.email, "Votre email* :", { 'label_attr': {
                        'class': 'col-sm-4 control-label'
                    }}) }}
                    <div class="col-sm-6">
                        {{ form_widget(form.email, {'attr': {
                            'class': 'form-control',
                            'placeholder': 'votre@email.fr'
                        }}) }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(form.ticketType, "Vous viendrez* :", { 'label_attr': {
                        'class': 'col-sm-4 control-label'
                    }}) }}
                    <div class="col-sm-6">
                        {{ form_widget(form.ticketType, {'attr': {
                            'class': 'form-control',
                            'value': 'la journée'
                        }}) }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(form.totalNbTickets, "Vous souhaitez* :", { 'label_attr': {
                        'class': 'col-sm-4 control-label'
                    }}) }}
                    <div class="col-sm-6">
                        {{ form_widget(form.totalNbTickets, {'attr': {
                            'class': 'form-control',
                            'placeholder': 'nombre de ticket(s)'
                        }}) }}
                    </div>
                </div>

            </div> 
        </div>
    </div>
    <div class="container">
        <p class="requireField">*Champs obligatoires</p>

        <div class="form-group">
            <button id="test" type="submit" class="btn btn-default myBtnDefault col-sm-2 col-sm-offset-5 mb-9"><span class="glyphicon glyphicon-check"></span> Continuer</button><br>
            <a href="{{ path('homepage') }}" class="btn btn-default myBtnDefault col-sm-2 col-sm-offset-5"><span class="glyphicon glyphicon-home"></span> Retour</a>
        </div>

        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>

{% endblock %}