{# src/OC/PlatformBundle/Resources/views/Louvre/order.html.twig #}

{% extends "LouvreTicketBundle::layout.html.twig" %}

{% set bookingPage = true %}

{% block title %}{{ parent () }} | Récapitulatif{% endblock %}

{% block content %}

<div class="logoV">
    <a href="{{ path('homepage') }}">
        <img class="img-responsive" src="{{ asset('img/pyramide-logo-v.jpg') }}" alt="louvre-logo">
    </a>
</div>

<div id="jumboBooking" class="jumbotron">
    <div class="container">
        <h1 id="titreResa">Récapitulatif</h1>
        <p>Étape 3 / </p>

        <div class="container well">
            <div class="col-sm-12">
                <p class="text-center"><strong>Vous viendrez le : </strong><br>{{ booking.ticketDate|date("d/m/Y") }}</p><br>
            </div>
            
            <div class="col-sm-12">
                <p class="text-center"><strong>Vous serez : </strong><br>{{ booking.totalNbTickets }}</p><br>
            </div>

            <div class="col-sm-12">
                <p class="text-center"><strong>Votre N° de référence est : </strong><br>{{ booking.commandReference }}</p><br>
            </div>
            
            <div class="col-sm-12">
                <p class="text-center"><strong>Votre commande est de : </strong><br>{{ booking.totalPrice }}€</p><br>
            </div>
        </div>

        <div class="col-sm-12">
            <button type="submit" class="btn btn-default myBtnDefault col-sm-2 col-sm-offset-5 mb-9"><span class="glyphicon glyphicon-euro"></span> Payer</button><br>
            <a href="{{ path('booking_cancel', {'id': bookingId}) }}" class="btn btn-default myBtnDefault col-sm-2 col-sm-offset-5"><span class="glyphicon glyphicon-remove"></span> Annuler</a>
        </div>

    </div>
</div>

{% endblock %}