{# src/OC/PlatformBundle/Resources/views/Louvre/order.html.twig #}

{% extends "LouvreTicketBundle::layout.html.twig" %}

{% set bookingPage = true %}

{% block title %}{{ parent () }} | Récapitulatif{% endblock %}

{% block content %}

<div class="logoV">
    <a href="{{ path('homepage') }}">
        <img class="img-responsive" src="{{ asset('img/pyramide-logo-v.jpg') }}" alt="louvre-logo"/>
    </a>
</div>

<div class="jumbotron jumboBooking">
    <div class="container">
        <h1 id="titreResa">Récapitulatif avant paiement</h1>
        <p>Étape 3 / 3</p>

        <div class="container well">
            <div class="col-sm-12">
                <p class="text-center"><strong>Vous viendrez le : </strong><br>{{ booking.ticketDate|date("d/m/Y") }}</p><br>
            </div>
            
            <div class="col-sm-12">
                <p class="text-center"><strong>Vous serez : </strong><br>
                    {% if booking.totalNbTickets == 1 %} seul(e)
                    {% else %} {{ booking.totalNbTickets }} personnes
                    {% endif %}
                </p><br>
            </div>

            <div class="col-sm-12">
                <p class="text-center"><strong>Votre code de réservation est : </strong><br>{{ booking.commandReference }}</p><br>
            </div>
            
            <div class="col-sm-12">
                <p class="text-center"><strong>Votre commande est de : </strong><br>{{ booking.totalPrice }}€</p><br>
            </div>

            <div class="col-sm-12">
                <p class="text-center"><strong>Voici le détail de votre commande : </strong><br></p>
                    {% for visitor in visitors %}
                        <p class="text-center"><strong>Billet N° {{ loop.index }}</strong></p>
                        <p class="text-center">{{ visitor.visitorFirstName }} {{ visitor.visitorName }} né le {{ visitor.visitorBirth|date('d/m/Y') }}</p>
                        <p class="text-center"><b>Tarif :</b> {{ visitor.ticketPrice }} €</p>
                        {% if visitor.reduceTicket == 1 %}
                        <p class="text-center" style="font-size: 0.9em;" ><i><b>Tarif réduit : </b>un justificatif vous sera demandé à l'entrée du musée</i></p>
                        {% endif %}
                    {% endfor %}
                <br>
            </div>
        </div>

        <div class="col-sm-12">
            <form action="{{ path('booking_checkout',  {'id': bookingId}) }}" method="POST">
                <script
                    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="pk_test_zWnssmXv2UgM8UA2mpyv1rqx"
                    data-amount="{{ booking.totalPrice * 100 }}"
                    data-name="Paiement Stripe"
                    data-description="Réservation billetterie du Louvre"
                    data-locale="auto"
                    data-currency="eur">
                </script>
                <script>
                    document.getElementsByClassName("stripe-button-el")[0].style.display = 'none';
                </script>
                <button type="submit" class="btn btn-default myBtnDefault col-sm-2 col-sm-offset-5 mb-9"><span class="glyphicon glyphicon-euro"></span> Payer</button>
            </form><br>
           
            <a href="{{ path('booking_cancel', {'id': bookingId}) }}" class="btn btn-default myBtnDefault col-sm-2 col-sm-offset-5"><span class="glyphicon glyphicon-remove"></span> Annuler</a>
        </div>

    </div>
</div>

{% endblock %}